/* .child {
    background: rgb(155, 196, 9);
    border: 2px solid rgb(255, 0, 0);
    height: 100px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

div {
    background: rgb(121, 173, 173);
    /* height: 100px;
    margin-bottom: 10px; */


}
*/